import("ks")
import("stats")
import("clue")
import("rootSolve")
export("dist.meas","Edist.meas","Edist.meas_singleh","AEdist.meas","hab1","hab2")
importFrom("graphics", "lines", "points")
importFrom("stats", "density", "dnorm", "pnorm")
